body{
    margin: 0 auto;
    width: 1000px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(207, 202, 202);
}

/* ******************************* HEADER ******************************* */

header{
    background-color: white;
    width: 1000px;
    height: 180px;
    display: inline-block;
}

.logo{
    display: inline-block;
    float: left;
    padding-top: 10px;
    width: 5%;
}

.boutique{
    float: left;
    width: 35%;
    padding: 15px;
    text-align: center;
}

.coordonnees{
    float: left;
    width: 35%;
    padding: 15px;
    text-align: center;
}

.telephone{
    color: #01B0F0 ;
    position: relative;
    margin-top: -23px;
    padding-left: 21px;
    z-index: 1;
}
h2{
    color: #01B0F0 ;
}

.panier{
    display: inline-block;
    background-color: #01B0F0;
    position: relative;
    float: right;
    width: 22%;
    height: 100px;
    margin-top: -170px;
    text-align: center;
}

.panier p{
    margin-top: 3px;
    font-size: 15px;
}
.panier img{
    width: 28px;
}


h1{
    font-size: 50px;
    font-style: italic;
}

.boutique p{
    font-size: 15px;
    font-style: italic;
    color: #FF358B;
}

/* ******************************* NAV ******************************* */

nav{
    background-color:#01B0F0 ;
    height: 15px;
    padding: 15px;
    
}

nav a{
    padding: 0.5rem 2.5rem;
    border: 1px solid #01B0F0;
    color: white;
    text-decoration: none;
    font-size: 15px;
    transition: 0.5s;
}

.activ{
    background-color: #FF358B;
}


/* ******************************* CONTENAIR******************************* */

.contenair{
    background-color: white;
    width: 1000px;
}

/* ******************************* SECTION BOUTIQUE ******************************* */
#infoboutique{
    height: 190px;
}

.paiment{
    float: left;
    width: 20%;
    padding: 15px;
    text-align: left;
    border-right: 1px solid gray;
}

.quisommesnous{
    float: left;
    width: 55%;
    padding: 15px;
    text-align: left;
    border-right: 1px solid gray;
}

.services{
    float: right;
    width: 15%;
    font-size: 15px;
}
.services img{
    width: 20px;
}

#infoboutique h3{
    color: #01B0F0;    
}


/* ******************************* SECTION PROMO ******************************* */

#promo{
    height: 300px;
}
#promo h3{
    background-color: rgb(182, 174, 174);
    text-align: center;
}

#promo a{
    color: #01B0F0;
}

.bonplan, .coupcoeur, .plaisir{
    display:inline-block;
    width: 25%;
    height: 150px;
    border-radius: 5px;
    background-color: white; 
    box-shadow: 0 0 6px black;
    padding: 2.5rem; 
}


.bonplan p{
    font-size: 15px;
}

.coupcoeur p{
    font-size: 15px;
}
.plaisir p{
    font-size: 15px;
    
}

.bonplan img{
    width: 20px;
}

.coupcoeur img{
    width: 22px;
}
.plaisir img{
    width: 22px;
    
}



/* ******************************* FOOTER ******************************* */

footer{
    background-color:#01B0F0 ;
    height: 15px;
    padding: 15px;
}
footer a{
    margin: 5px;
    padding: 0.5rem 0.5rem;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    color: white;
}


.clear{
    clear: both;
}

